@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="jumbotron velvet-red">
                   
                
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>

        <div>
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in herePut stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here

        </div>

        <div>
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in herePut stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here

        </div>

        <div>
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in herePut stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in here
            Put stuff in herePut stuff in here
            Put stuff in herePut stuff in here
            Put stuff in here
            Put stuff in here

        </div>
    </div>
</div>