@{
    ViewBag.Title = "About";
}



<div class="container">
    <div class="jumbotron velvet-red" id="over">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
            
        <p><img src="~/Images/Logo.png" class="center" style="align-items: center; align-content: center; align-self: center;"/></p>
    </div>
</div>