@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="jumbotron velvet-red">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>

        <section class="contact">
            <header>
                <h3>Phone</h3>
            </header>
            <p>
                <span class="label">Main:</span>
                <span>033 346 8745</span>
            </p>
            <p>
                <span class="label">After Hours:</span>
                <span>079 458 2254</span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Email</h3>
            </header>
            <p>
                <span class="label">Support:</span>
                <span><a href="mailto:Support@example.com">support@sawdust.co.za</a></span>
            </p>
            <p>
                <span class="label">Marketing:</span>
                <span><a href="mailto:Marketing@example.com">marketing@sawdust.co.za</a></span>
            </p>
            <p>
                <span class="label">General:</span>
                <span><a href="mailto:General@example.com">general@sawdust.co.za</a></span>
            </p>
        </section>

        <section class="contact">
            <header>
                <h3>Address</h3>
            </header>
            <p>
                248 Boom Street<br />
                Pietermaritzburg, KZN 3245
            </p>
        </section>
    
    </div>
</div>