@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron velvet-red">
        <h1>Sky Systems Web Application</h1>

        <p>A Management system for a sawdust distribution company</p>

        <p>By: Thabani Hadebe, Michael Esteves, Henry Le Roux, and Alan Ball</p>
        
       @* @Html.ActionLink("Create user", "Create", "Authentication", new { userId = 2 }, null)*@
    </div>
</div>
