@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
      <div class="container">
        <h1>In development</h1>
          <p>This website is not meant for live/production. You shouldn't be hosting this.</p>
          <p>By Thabani Hadebe, Michael Esteves, Henry Le Roux, and Alan Ball</p>
        <p><a class="btn btn-primary btn-lg" role="button">Button that does nothing &raquo;</a></p>
      </div>
</div>