@model UI.ViewModels.AuthenticationCreateUpdateViewModel

<section id="loginForm">
        
    @using (Html.BeginForm("Create", "Authentication", null, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.UserId)
            
            <h2>Create new Account</h2>
    
            <input id="UserName" name="UserName" type="email" class="form-control" placeholder="Email address" required autofocus>
            <input id="Password" name="Password" type="password" class="form-control" placeholder="Password" required>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        </div>
    }
</section>
